@import url('./theme.scss');

body,
h1,
h2,
h3,
h4,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}

html {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  width: 100vw;
  height: auto;
  margin-top: 5vw;
  margin-bottom: 5vw;
  font-family: var(--simple-text-font);
  font-size: clamp(8px, 4vw, 16px);
  color: var(--text-color);
  background: linear-gradient(75deg, #b3ff00 -25%, transparent 80%),
    linear-gradient(-45deg, #8c3bff -30%, transparent 80%), radial-gradient(#fffc38 -25%, transparent 80%),
    linear-gradient(45deg, #ff652d 20%, #369eff 60%, #ff46a2, #4f6aff);
}

h1 {
  font-family: var(--header-font);
  font-size: clamp(24px, 10vw, 48px);
}
h2 {
  font-size: clamp(12px, 5vw, 24px);
}

input,
button,
textarea,
select {
  font: inherit;
  cursor: pointer;
}
.customCheckboxLabel {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
  &::before {
    margin-right: clamp(6px, 5vw, 12px);
    width: clamp(12px, 10vw, 24px);
    height: clamp(12px, 10vw, 24px);
    content: '';
    display: inline-block;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid #ff46a2;
    border-radius: clamp(2px, 2vw, 8px);
    background-color: #e4e4e4;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
}
input[type='checkbox'] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  &:checked + .customCheckboxLabel::before {
    background-color: #ff46a2;
    background-image: url('../icons/eye.svg');
    background-size: contain;
  }
  &:disabled + span::before {
    background-color: #e9ecef;
  }
}
input[type='checkbox']:disabled + .customCheckboxLabel::before,
input:disabled {
  opacity: 0.7;
}
input[type='checkbox']:focus:enabled + .customCheckboxLabel::before,
input[type='checkbox']:hover:enabled + .customCheckboxLabel::before,
input:hover:enabled,
input:focus:enabled {
  box-shadow: 0 0 5px 0.2rem #ff46a244;
}
