@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Permanent+Marker&display=swap');

html {
  --text-color: #333;
  --simple-text-font: 'Montserrat', sans-serif;
  --header-font: 'Permanent Marker', cursive;
}
