.header {
  grid-area: header;
  font-size: clamp(12px, 5vw, 24px);
}
.form {
  max-width: 60vw;
  padding: clamp(12px, 3vw, 24px) clamp(12px, 3vw, 24px) 0 clamp(12px, 3vw, 24px);
  display: grid;
  grid-template-columns: repeat(4, minmax(15%, 15vw));
  grid-template-areas:
    'header header header header'
    'name name released released'
    'day month quarter year'
    'add add clear clear'
    'err err err err';
  gap: clamp(12px, 3vw, 24px);
  align-items: center;
  background-color: #e4e4e488;
  border-radius: clamp(12px, 3vw, 36px);
}
.input,
.button {
  padding: clamp(6px, 2vw, 12px);
  border-radius: clamp(6px, 2vw, 12px);
  border: none;
}
.input {
  background-color: #e4e4e4;
  border: 2px solid #ff46a2;
}
.released {
  max-width: fit-content;
  grid-area: released;
}
.nameInput {
  grid-area: name;
}
.dayInput {
  grid-area: day;
}
.monthInput {
  grid-area: month;
}
.quarterInput {
  grid-area: quarter;
}
.yearInput {
  grid-area: year;
}
.button {
  font-weight: 700;
}
.addButton {
  grid-area: add;
  background-image: linear-gradient(135deg, #1ebe61, #f3f174);
  &:hover,
  :focus {
    box-shadow: 0 0 5px 0.2rem #1ebe6144;
  }
}
.clearButton {
  grid-area: clear;
  background-image: linear-gradient(-45deg, #369eff, #8c3bff99);
  &:hover,
  :focus {
    box-shadow: 0 0 5px 0.2rem #369eff44;
  }
}
.errorMessage {
  padding-bottom: clamp(12px, 3vw, 24px);
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-area: err;
  color: #ff3636;
}
.errorImg {
  margin-right: clamp(6px, 5vw, 12px);
  width: clamp(12px, 10vw, 24px);
  height: clamp(12px, 10vw, 24px);
  fill: #ff3636;
}
@media (max-width: 750px) {
  .form {
    max-width: 80vw;
    grid-template-columns: repeat(1, minmax(100%, 70vw));
    grid-template-areas:
      'header'
      'name'
      'released'
      'day'
      'month'
      'quarter'
      'year'
      'add'
      'clear'
      'err';
  }
}
